{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if current_user.is_authenticated %}
<h1>Add Blog Post...</h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form method="post"  action="{{ url_for('add_post')}}" >
        {{ form.hidden_tag() }}
        <br>
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        <br>
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        <br>
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows=10) }}
        <br>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
        {{ ckeditor.load() }} 
        {{ ckeditor.config(name='body') }}
    </div>
{% else %}
<h2>You havent logged in...</h2>
<p>You must be logged in to acces the content on this page</p>
<br>
<a href="{{ url_for('login') }}" class="btn btn-secondary btn-sm">Login</a>

{% endif %}

{% endblock %}